.overridden-toggle-switch {
    text_color: red;

    /* Unselected */
    unselected_color: blue;
    unselected_border_color: cyan;
    thumb_unselected_color: yellow;
    /* --    hover */
    unselected_hover_color: orange;
    unselected_border_hover_color: pink;
    thumb_unselected_hover_color: black;

    /* Selected */
    selected_color: green;
    selected_border_color: brown;
    thumb_selected_color: white;
    /* --    hover */
    selected_hover_color: derive(navy, 40%);

    /* Pressed */
    pressed_color: #666666;
    pressed_border_color: pressed_color;
    thumb_pressed_color: purple;
}

.overridden-toggle-switch {
    -fx-skin: "impl.jfxtras.styles.jmetro.ToggleSwitchSkin";
}

.overridden-toggle-switch {
    -thumb-move-animation-time: 100;
    -toggle-display: right;
}

.overridden-toggle-switch .text {
    -fx-fill: text_color;
    -fx-font-size: 1em;
    -fx-font-family: "Segoe UI";
}

.overridden-toggle-switch .thumb {
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.416667em; /* 5 */
}

.overridden-toggle-switch .thumb-area{
    -fx-background-radius: 0.833333em; /* 10 */

    -fx-border-width: 0.166667em; /* 2 */
    -fx-border-radius: 0.833333em;

    -fx-pref-width: 44px;
    -fx-pref-height: 1.666666em; /* 20 */
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 5 5 5 */
}

/* unselected */
.overridden-toggle-switch .thumb-area{
    -fx-background-insets: 0;
    -fx-background-color: unselected_color;

    -fx-border-color: unselected_border_color;
}

.overridden-toggle-switch .thumb {
    -fx-background-color: thumb_unselected_color;
}

/* unselected - hover */
.overridden-toggle-switch:hover .thumb-area {
    -fx-background-color: unselected_hover_color;

    -fx-border-color: unselected_border_hover_color;
}

.overridden-toggle-switch:hover .thumb {
    -fx-background-color: thumb_unselected_hover_color;
}

/* selected */
.overridden-toggle-switch:selected .thumb-area{
    -fx-background-insets: 0;
    -fx-background-color: unselected_color;

    -fx-border-color: unselected_border_color;
}

.overridden-toggle-switch:selected .thumb{
    -fx-background-color: thumb_selected_color;
}

/* selected - hover */
.overridden-toggle-switch:selected:hover .thumb-area {
    -fx-background-color: selected_hover_color;
    -fx-border-color: selected_hover_color;
}

/* pressed */
.overridden-toggle-switch:pressed .thumb-area, .overridden-toggle-switch:selected:pressed .thumb-area{
    -fx-background-insets: 0;

    -fx-background-color: pressed_color;
    -fx-border-color: pressed_border_color;
}

.overridden-toggle-switch:pressed .thumb {
    -fx-background-color: thumb_pressed_color;
}

/* disabled */
.overridden-toggle-switch:disabled {
    -fx-opacity: 0.4;
}