<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ofs.backend.dao.DcsExportObjectDao">
    <resultMap id="dcsExportObjectMap" type="moe.ofs.backend.domain.DcsExportObject">
        <id property="id" column="id"/>
        <result property="bank" column="OWN_BANK"/>
        <result property="coalition" column="COALITION"/>
        <result property="coalitionID" column="COALITION_ID"/>
        <result property="country" column="COUNTRY_ID"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="heading" column="OWN_HEADING"/>
        <result property="name" column="OWN_NAME"/>
        <result property="pitch" column="OWN_PITCH"/>
        <result property="runtimeID" column="RUNTIME_ID"/>
        <result property="unitName" column="UNIT_NAME"/>
    </resultMap>

    <resultMap id="dcsExportObjectVector3DMap" extends="dcsExportObjectMap" type="moe.ofs.backend.domain.DcsExportObject">
        <association property="vector" javaType="moe.ofs.backend.domain.DcsPositionVector">
            <result property="id" column="vector_id"/>
            <result property="x" column="vector_x"/>
            <result property="y" column="vector_y"/>
            <result property="z" column="vector_z"/>
        </association>
        <association property="position" javaType="moe.ofs.backend.domain.DcsGeoPosition">
            <result property="id" column="position_id"/>
            <result property="latitude" column="position_latitude"/>
            <result property="longitude" column="position_longitude"/>
            <result property="altitude" column="position_altitude"/>
        </association>
    </resultMap>

    <select id="findById" resultMap="dcsExportObjectMap">
        select id,
               OWN_BANK,
               COALITION, COALITION_ID, COUNTRY_ID, GROUP_NAME,
               OWN_HEADING, OWN_NAME, OWN_PITCH, RUNTIME_ID, UNIT_NAME
        from export_object where id=#{id}
    </select>

    <select id="findWithPosById" resultMap="dcsExportObjectVector3DMap">
        select eo.id,
               eo.OWN_BANK ,
               eo.COALITION,
               eo.COALITION_ID,
               eo.COUNTRY_ID,
               eo.GROUP_NAME,
               eo.OWN_HEADING,
               eo.OWN_NAME,
               eo.OWN_PITCH,
               eo.RUNTIME_ID,
               eo.UNIT_NAME,
               vd.id vector_id,
               vd.x vector_x,
               vd.y vector_y,
               vd.z vector_z,
               gp.id position_id,
               gp.latitude position_latitude,
               gp.longitude position_longitude,
               gp.altitude position_altitude

        from export_object eo
        inner join vector3d vd on eo.VECTOR3D_ID = vd.id
        inner join geo_position gp on eo.geoposition_id = gp.id
        where eo.id=#{id}
    </select>
</mapper>