<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.ofs.backend.dao.PlayerInfoVoDao">
    <resultMap id="playerInfoMap" type="moe.ofs.backend.domain.PlayerInfoVo">
        <id property="id" column="id"/>
        <result property="ipaddr" column="ipaddr"/>
        <result property="lang" column="lang"/>
        <result property="name" column="name"/>
        <result property="netId" column="net_id"/>
        <result property="pilotId" column="pilot_id"/>
        <result property="ping" column="ping"/>
        <result property="side" column="side"/>
        <result property="slot" column="slot"/>
        <result property="started" column="started"/>
        <result property="ucid" column="ucid"/>
    </resultMap>

    <select id="getOneByNetIdAndName" resultMap="playerInfoMap">
        SELECT *
        FROM PLAYER_INFO
        where NET_ID = #{net_id}
          and NAME = #{name};
    </select>
</mapper>