<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Player List</h1>
<table>
    <tr>
        <th>Net ID</th>
        <th>Name</th>
        <th>UCID</th>
        <th>IP</th>
        <th>Lang</th>
    </tr>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}">net_id</td>
        <td th:text="${player.name}">player_name</td>
        <td th:text="${player.ucid}">ucid</td>
        <td th:text="${player.ipaddr}">ip</td>
        <td th:text="${player.lang}">lang</td>
    </tr>

</table>
</body>
</html>