<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flyable Units</title>
</head>
<body>
<h1>Flyable Units</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Unit Name</th>
        <th>Group ID</th>
        <th>Airdrome ID</th>
        <th>Country</th>
    </tr>
    <tr th:each="flyable : ${flyableUnits}">
        <td th:text="${flyable.getId()}">ID</td>
        <td th:text="${flyable.getUnit_name()}">unit_name</td>
        <td th:text="${flyable.getGroup_id()}">group_id</td>
        <td th:text="${flyable.getAirdromeId()}">airdrome_id</td>
        <td th:text="${flyable.getCountryName()}">country</td>
    </tr>

</table>
</body>
</html>